a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* General styles below! */

html {
  font-size: 65%;
}

body, nav, h1, h2, h3, h4, h6, p, li, ul, img {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Emblema One, cursive;
  font-size: 4.2rem;
}

h3 {
  font-family: Emblema One, cursive;
  font-size: 4.2rem;
  line-height: 42px;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

p {
  font-family: 'Barlow', 'san-serif';
  font-size: 2.5rem;
  letter-spacing: 0.2px;
  line-height: 29px; 
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  outline: inherit;
  font-family: Emblema One, cursive;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 29px;
}

/* Header Styles down below!*/

header {
  background-color: #F5C8CF;
  background-size: cover;
  height: 100vh;
}

.header-title {
  margin-top: 15%;
  float: left;
  width: 50%;
}

.header-title p {
  color: #042259;
  line-height: 65px;
  font-size: 4.6rem;
  font-family: 'Barlow';
}

h1 {
  font-size: 10.5rem;
  width: 45%;
  line-height: 87.3px;
}

.header-picture {
  bottom: 0;
  right: 0;
  width: 56%;
  position: relative;
}

/* Navigation Styles down below!*/

.navigation ul {
  text-align: right;
}

.navigation li {
  padding-top: 12px;
  display: inline-block;
}

.navigation a {
  font-family: 'Barlow', 'san-serif';
  font-size: 2.5rem;
  font-weight: 600;
  color: #042259;
  text-transform: uppercase; 
  padding: 0 12px;  
  letter-spacing: 0.4px;
}

/* Social Media Styles down below!*/

.social-media-list {
  float: right;
  margin-top: 80px;
  margin-right: -122px;
  
}

.social-media-list li {
  padding-bottom: 22px;
}

.social-media-list a {
  color: #1D81CC;
  font-size: 2.6rem; 
}

/*Pink Section Styles down below!*/

.pink-section {
  background-color: #FCDDE2;
  height: 100%;
}

.pink-section img {
  float: left;
  width: 26%;
}

.best-appliances-article {
  padding: 75px 0;
}

.best-appliances-title {
  float: left;
  width: calc(75% - 30px);
  padding-left: 30px;
}

h2 {
  color: #1D81CC;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.pink-section p {
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 0.2px;
}

.three-appliances h2 {
  text-align: center;
  padding: 42px 0;
}

.three-appliances img {
  width: 100%;
  display: inline-block;
}

.three-appliances li {
  margin-right: 42px;
  margin-bottom: 42px;
  width: calc((100% /3) - 42px);
  float: left;
    
}

/*Button styles below but buttons show up in various places so it might get confusing!*/

button.read-more-dark-blue {
    font-size: 2rem;
    line-height: 29px;
    padding: 10px 15px;
    margin: 20px 0;
    display: inline-block;
    color: #FCDDE2;
    background-color: #042259;
}

input {
  width: 60%;
  float: left;
  border: 1px solid #FCDDE2;
}

button.read-more {
  color: #042259;
  background-color: #FCDDE2;
}

/*Blue section styles down below!*/

.both-articles-sections {
  background-color: #F0F5FF;
}

.blue-section {
  clear: both;
}

.smoothies-paragraph {
  float: left;
  width: 50%;
}

.new-appliances-paragraph img {
  float: left;
  width: 50%;
}

.smoothies-paragraph img {
  float: right;
  width: 50%;
}

.new-appliances-paragraph {
  float: right;
  width: 50%;
}

.smoothies-paragraph, .new-appliances-paragraph {
  padding: 100px;
}

/*Icons in bottom pink background styles down below!*/

.icons-in-bottom-pink {
  background-color: #F5C8CF;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 6rem;
}

.icons-in-bottom-pink li {
  display: inline-block;
  padding: 140px;
}

.icons-in-bottom-pink i {
  color: #042259;
  margin-bottom: 10px;
}

.icons-in-bottom-pink h3 {
  font-size: 3rem;
}

/*Footer styles down below!*/

footer {
  display: inline-block;
  width: 100%;
  background-size: cover;
  background-color: #F0F5FF;
  height: 55vh;
}

h4 {
  font-size: 3rem;
}

.container-footer {
  padding: 100px 0;
}

.footer-navigation-section {
  font-size: 3rem;
  text-align: right;
}

.footer-navigation-section a {
  color: #1D81CC;
}

.newsletter {
  float: left;
  width: 50%;
}

input {
  font-size: 2.2rem;
  padding: 12px 17px;
  margin: 21px 0;
}

.contact-us-info {
  float: left;
  width: 30%;
}

.copyright-section {
  text-align: center;
  background-color: #042259;
  color: #F0F5FF;
  padding: 12px 0;
}

/*Breakpoints for media queries down below!*/

@media (max-width: 1280px) {
  .header-picture
      width: 80%;
}

.smoothies-paragraph, .new-appliances-paragraph {
  padding-bottom: 0;
}

/*Last breakpoint for smallest devices down below!*/

@media (max-width: 480px) {
    
  header 
      height: 40vh;
  }

  h1 {
      font-size: 5rem;
      line-height: 50px;
      margin-top: 50px;
  }

  .header-title p {
      font-size: 1.5rem;
      line-height: 20px;
  }

  .smoothies-paragraph img, 
  .new-appliances-paragraph,
  .new-appliances-paragraph img, 
  .smoothies-paragraph {
      width: 100%;
      text-align: center;
      height: 40vh;
  }









